- 
    let mainMenu = [
        ["Home", "#"],
        ["Why MISOCIAL", "#"],
        ["Features", "#"],
        ["Articles", "#"],
        ["Pricing", "#"],
    ]
-
    let cards = [
        ["PERSONAL", "0", "Lorem ipsum dolor sit amet.sed do eiusmod tempor incididunt ut.Labore et dolore magna aliqua.quis nostrud exercitation ullamco laboris.Ea commodo consequat.", "../img/asset3.png"],
        ["PERSONAL", "29", "Lorem ipsum dolor sit amet.sed do eiusmod tempor incididunt ut.Labore et dolore magna aliqua.quis nostrud exercitation ullamco laboris.Ea commodo consequat.", "../img/asset2.png"],
        ["PERSONAL", "49", "Lorem ipsum dolor sit amet.sed do eiusmod tempor incididunt ut.Labore et dolore magna aliqua.quis nostrud exercitation ullamco laboris.Ea commodo consequat.", "../img/asset1.png"],
    ] 

mixin menu(menu, colorTheme="light")
    .navigation
        a(href="")
            .logo
                img(src="img/logo.png", alt="")
                p(class=colorTheme) Misocial
        nav
            ul.menu(class=colorTheme)
                for item in menu 
                    li 
                        a(href=item[1]) #{item[0]}
                li
                    a.buttonStart(href="#") GET STARTED
        .burger#burger
            span


-
    let cardsInfo = {
        satelite: {
            img: "img/asset3.png",
            alt: "satelite",
            personal: "personal",
            price: 0,
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            btnText: "select plan",
            href: "#",
        },
        mars: {
            img: "img/asset2.png",
            alt: "mars",
            personal: "personal",
            price: 29,
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ], // added comma here
            btnText: "select plan",
            href: "#",
        },
        rocket: {
            img: "img/asset1.png",
            alt: "rocket",
            personal: "personal",
            price: 49,
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ], // added comma here
            btnText: "select plan",
            href: "#",
        },
    }


mixin cards(oneCard)
    figure 
        figcaption
            .blockImg 
                img(src=oneCard.img, alt=oneCard.alt)
            h4.shortDesc #{oneCard.personal}
            span
                b #{oneCard.price}
                if oneCard.isMonth
                    | /month
                else 
                    | /year
            .descriptionFigure
                ul
                    for oneText in oneCard.description 
                        li
                            p #{oneText}
            .buttons
                ul.light
                    li
                        a.buttonStart(href=oneCard.href) #{oneCard.btnText}

